@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

form {
    padding: 10px;
}

body {
    height: 100vh;
    background-color: rgb(239, 223, 223);
}

#principal {
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

#agregar {
    max-width: 600px;
    width: 98%;
    margin: 20px auto;
    padding: 10px;
    background-color: hwb(159 31% 27%);
    border: 1px solid black;
}

#agregar .ides {
    float: left;
    width: 170px;
    margin-top: 12px;
}

#agregar input[type=text] {
    width: 300px;
    max-width: 100%;
    padding: 5px;
    margin-top: 10px;


}

#agregar input[type=button] {
    background-color: #403d3d;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
    margin: 10px 20px;
    width: 150px;
    cursor: pointer;
    display: inline-block;
   
}

#agregar h2 {
    float: left;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#productos article {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 20px;
}

#productos .imagen {
    width: 280px;
    margin: auto;
}

#productos h3 {
    margin-bottom: 10px;
}

.contenedor {
    margin: auto;
    width: 98%;
}
.botones {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}

input[type=button]:hover {
    cursor: pointer;
}

header {
    background-color: hwb(159 31% 27%);
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 70px;
    top: 0;

}

.listado {
    margin-top: 200%;
    width: 100%;
}

.tabla {
    display: block;
    max-width: 90%;
    margin-top: 100px;
}

table {
    margin-top: 100px;
    width: 100%;
    text-align: center;

}

table,
tr,
td,
th {
    border: 1px solid rgb(148, 141, 141);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    
}

.tabla img {
    max-width: 100px;
}

h1 {
    margin: 10px;
    text-align: center;

}

header input[type="button"] {
    position: fixed;
    top: 5px;
    right: -18px;
    display: inline-block;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    transform: rotate(270deg);
    background-color: #403d3d;
    color: #fff;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

